.header {
    background-color: #f3f3f3;
    width: 15%;
    padding: 0.5rem 0;
    display:flex;
    flex-direction: column;
    align-items:center;
    position: absolute;
    top: 0px;
    width: 80%;
    right: 0px;
}